html,
body {
    height: 100%;
}

body {
    font-family: var(--font-main);
    color: var(--white);
    min-width: 320px;
    overflow-x: hidden;
    font-size: 19px;
    font-weight: 300;
}

main {
    height: 100%;
}

img {
    user-select: none;
}

a {
    color: var(--green);
    position: relative;
    padding-bottom: 2px;
    display: inline-block;

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 1px;
        background: var(--green);
        transition: 0.3s ease-in-out;
    }

    &:hover {
        color: var(--green);

        &::before {
            width: 0;
        }
    }
}

.cont {
    margin: 0 auto;
    max-width: 660px;
    width: 100%;
    padding: 0 15px;
}

label.error,
.error-choice {
    color: var(--red);
}

.contact {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 100%;
    padding: 100px 0 ac(31px, 56px);

    .cont {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1 1 auto;
        position: relative;
    }

    &__heading {
        position: relative;

        &-decors {
            .decor {
                &--lg {
                    width: 46px;
                    height: 46px;
                    top: 22px;
                    left: -22px;
                }

                &--sm {
                    left: -20px;
                    top: calc(100% - 24px);
                }
            }
        }
    }

    &__title {
        font-size: ac(24px, 19px);
        font-weight: 500;
        text-align: center;
        margin-bottom: ac(55px, 30px);

        span {
            color: var(--green);
        }
    }

    &__logo {
        max-width: 195px;
        margin: 0 auto 30px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__form {
        &-wrap {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
        }
    }

    &__bg {
        z-index: -1;

        &,
        &:before {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        &:before {
            content: '';
            background: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.65) 0%,
                rgba(0, 0, 0, 0.65) 100%
            );
            backdrop-filter: blur(7px);
            -webkit-backdrop-filter: blur(7px);
            pointer-events: none;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__footer {
        margin-top: ac(42px, 61px);
        font-size: 15px;

        &-decors {
            .decor {
                &--lg {
                    bottom: -4px;
                    right: -20px;
                }

                &--sm {
                    bottom: -5px;
                    right: 30px;
                }
            }
        }
    }

    .btn {
        margin-top: ac(30px, 50px);
    }

    &__decors {
        .decor {
            &--lg {
                top: 15px;
                right: -1%;
            }

            &--md {
                top: 17px;
                right: -17px;
            }
        }
    }

    @include media(551) {
        &__form-wrap {
            grid-template-columns: 1fr;
        }

        .checkbox {
            margin-top: 10px;
        }

        .btn {
            width: 100%;
        }

        &__logo {
            display: none;
        }
    }
}

.decor {
    position: absolute;
    border-radius: 20%;
    transform: rotate(45deg);
    display: none;
    animation: rotate-scale-up 8s linear infinite both;

    &:nth-child(even) {
        animation-direction: reverse;
    }

    &--lg {
        width: 72px;
        height: 72px;
        background: var(--green);
        opacity: 0.6;
    }

    &--md {
        width: 34px;
        height: 34px;
        background: var(--green);
    }

    &--sm {
        width: 23px;
        height: 23px;
        border: 2px solid var(--green);
        opacity: 0.8;
        border-radius: 25%;
    }

    @include media(551) {
        display: block;
    }
}

@keyframes rotate-scale-up {
    0% {
        transform: scale(1) rotateZ(0);
    }
    50% {
        transform: scale(1.05) rotateZ(180deg);
    }
    100% {
        transform: scale(1) rotateZ(360deg);
    }
}
