@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap');

:root {
    --white: #fff;
    --black: #000;
    --green: #6ceec7;
    --grey: #5e5e5e;
    --light-grey: #d0d0d0;
    --font-main: 'Rubik', sans-serif;
}
